<!DOCTYPE html>
<html>
<head>
    <title>PinFlow</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="navbar">
    <h2>📌 PinFlow</h2>
</div>

<div class="container">

    <!-- INPUT BAR -->
    <form method="POST" class="search-box">
        <input name="link" placeholder="Paste Amazon Product Link..." required>
        <button name="action" value="fetch">Fetch</button>
    </form>

    <!-- IMAGE GRID -->
    <div class="grid">
        {% for img in images %}
        <div class="grid-item">
            <form method="POST">
                <input type="hidden" name="link" value="{{ link }}">
                <input type="hidden" name="selected_image" value="{{ img }}">
                <img src="{{ img }}">
                <button name="action" value="generate">Select</button>
            </form>
        </div>
        {% endfor %}
    </div>

    <!-- RESULT CARD -->
    {% if data %}
    <div class="result-card">
        <img src="{{ data.image }}">

        <div class="result-content">
            <h2>{{ data.title }}</h2>

            <p class="desc">{{ data.description }}</p>

            <p class="tags">{{ data.tags }}</p>

            <a href="{{ data.link }}" target="_blank">🔗 View Product</a>
        </div>
    </div>
    {% endif %}

</div>

</body>
</html>